[submodule "Whip/vendor/imgui"]
	path = Whip/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "Whip/vendor/GLFW"]
	path = Whip/vendor/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Whip/vendor/glm"]
	path = Whip/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Whip/vendor/spdlog"]
	path = Whip/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
