* text=auto
.gitattributes text eol=lf

*.h     text eol=lf
*.hpp   text eol=lf
*.cpp   text eol=lf
*.c     text eol=lf
*.cs    text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.md    text eol=lf
LICENSE text eol=lf
*.wproj text eol=lf
*.whip  text eol=lf
*.whipr text eol=lf
*.wanim text eol=lf
*.ps1   text eol=crlf
*.bat   text eol=crlf
*.sln   text eol=crlf
*.vcxproj text eol=crlf
*.csproj text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.ttf binary
*.wav binary
*.mp3 binary
*.ogg binary
*.dll binary
*.exe binary
*.lib binary
*.pdb binary
